@model DttLesson07.Models.DttEmployee

@{
    ViewData["Title"] = "DttDetails";
}

<h1>DttDetails</h1>

<div>
    <h4>DttEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DttId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DttId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DttName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DttName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DttBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DttBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DttEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DttEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DttPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DttPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DttSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DttSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DttStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DttStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "DttEdit", new { id = Model.DttId })
    |
    <a asp-action="DttIndex">Back to List</a>
</div>
