@model IEnumerable<Lesson8.Models.DttAccount>

@{
    ViewData["Title"] = "DttIndex";
}

<h1>DttIndex</h1>

<p>
<p>
    <a asp-action="DttCreate" class="btn btn-success">Create New</a>
</p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DttId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DttName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DttBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DttEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DttPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DttAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DttPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DttStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DttAvatar)
            </th>
            <th>Thao Tác UIA</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DttId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DttName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DttBirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DttEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DttPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DttAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DttPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DttStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DttAvatar)
            </td>
                <td>
                    @Html.ActionLink("Edit", "DttEdit", new { id = item.DttId }, new { @class = "btn btn-warning btn-sm" })
                   
                    @Html.ActionLink("Details", "DttDetails", new { id = item.DttId }, new { @class = "btn btn-info btn-sm" })
                 
                    @Html.ActionLink("Delete", "DttDelete", new { id = item.DttId }, new { @class = "btn btn-danger btn-sm" })
                </td>


        </tr>
}
    </tbody>
</table>
