
@{
    ViewData["Title"] = "List Study";
}
<div class="alret alert-warning">
<h1>@ViewData["Title"]</h1>
<h2>Member Info</h2>
<ul>
    <li><strong>Member Id:</strong> @Model.DttMemberId</li>
    <li><strong>Username:</strong> @Model.DttUsername</li>
    <li><strong>Full Name:</strong> @Model.DttFullName</li>
    <li><strong>Password:</strong>@Model.DttPassword</li>
    <li><strong>Email:</strong> @Model.DttEmail</li>
</ul>
</div>